/*---------- Font import ------------*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Raleway&display=swap');


/*---------- Font Family Values 
Heading Fonts = font-family: 'Raleway', sans-serif;
Paragraph Fonts = font-family: 'Bitter', serif; -----------*/


/*-------- Global Styles ---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body p {
    font-family: 'Bitter', serif;
}

body h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    background-color: #3F4044;
}

#logo {
    height: 80px;
    margin: 75px 0 0 30px;
    float: left;
}

nav ul {
    float: right;
    margin: 0 auto;
}
nav li {
    display: inline-block;
    margin-top: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 125%;
    padding: 0 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*---------- Mobile Portrait View Styles -----------*/

@media (min-width: 320px) {

    nav {
        width: 100%;
        height: 150px;
        background-color: #3F4044;
    }

    #logo {
        height: 50px;
        margin: 10px 0 0 10px;
        float: left;
    }

    nav ul {
        margin-left: 0.5rem;
    }
    nav li {
        display: inline-block;
        margin-top: 20px;
        font-family: 'Raleway', sans-serif;
        font-size: 0.6rem;
        padding: 0 15px;
        letter-spacing: 1px;
        font-weight: bold;
    }

    nav li a {
    color: #fafafa;
    text-decoration: none;
    }

    #book-table-button {
        position: relative;
    }

}